h1, h2, h3 {
    color: green;
    text-decoration: underline;
}

a {
    color: blueviolet;
}

a:hover {
    color: red;
}


/* kwjfnbwkejnfwe */

/* HEADER STARTS  */

body {
    background-color: red;
}

/* HEADER ENDS  */


/* FOOTER STARTS */


/* FOOTER ENDS */



.container {
    border: black 1px solid;
    height: 400px;
}