@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <a target="_blank" asp-action="DownloadFile">Download file</a>
</div>
<div class="text-center">
    @if(ViewBag.ErrorMessage != null)
    {
        <label class="text-danger">@ViewBag.ErrorMessage</label>
    }

    <label class="custom-text-green">Hola</label>
</div>