@model CustomFilesCreateViewModel

<h1>Add Custom File</h1>



<form asp-action="Create" method="post" enctype="multipart/form-data">

    <input asp-for="description" type="text" placeholder="Description" />
    
    <input asp-for="file" type="file" accept="application/pdf" />

    <input type="submit" class="btn btn-success" value="Save" />
</form>

<a asp-action="Index">Back to list</a>