@model TestApp.Library.DAL.Models.Users

<dl>
    <dt>First Name:</dt>
    <dd>@Model.first_names</dd>

    <dt>Last Name:</dt>
    <dd>@Model.last_names</dd>

    <dt>Email:</dt>
    <dd>@Model.email</dd>
</dl>


<a asp-action="Index" class="btn btn-secondary" >Back to list</a>