@model PersonViewModel;
@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutNoMenus";
}

<h1>Persons</h1>

@Model.FirstName
@Model.LastName
@Model.Age

<partial name="PersonPartialView" />

@for(int x = 0; x < 5; x++)
{
    <div>@Model.FirstName</div>
}