body {
	margin: 20;
	padding: 20;
}

.main-div {
    background-color: black;
    
    height: 50px;
	width: 1024px;
}

/******** MEDIA QUERIES STARTS ********/

@media screen and (max-width: 1024px) {
    .main-div {
        background-color: red;
        width: 800px;
    }
    
}

@media screen and (max-width: 768px) {
    .main-div {
        background-color: blue;
        width: 600px;
    }
}

@media screen and (max-width: 480px) {
    .main-div {
        display: none;
    }
}
 

/******** MEDIA QUERIES ENDS ********/
